
@import '../../publics/ClassTypes.scss';

.newsItem{
    
    width: 200px;
    
}

.newsContainer{
    @extend .center;
     left: 0px;
     right: 0px;

     
 
}
.container1{

   height: 300px;
    width: 100%;
    padding: 20px;
}



.nextPrewContainer{
    width: 30px;;
    height: 30px;
    @extend .center;
    align-items: center;
    background-color:rgb(212, 206, 206);
    border-radius: 100px;
    
}


