
@import '../../publics/ClassTypes.scss';

.newsItem{
    width: 200px;
    opacity: 1;
    transition-property: margin-top,opacity;
    transition-duration:1s ; 
}

.newsContainer{
    @extend .center;
    align-items: center

}
.newslistContiner{
    @extend .center;
    align-items: center;
    width: 800px;
}

.nextPrewContainer{
    @extend .center;
    align-items: center;
    width: 30px;;
    height: 30px;
    background-color:rgb(212, 206, 206);
    border-radius: 100px;  
    margin-top: -50px;
}



