@import '../../publics/ClassTypes.scss';

$height: 180px;

.officeImage {
    @extend .center;
    width: $height;
    height: $height;
    margin: 10px;
}

.footerContainer {
    display: flex;
    align-items: center; 
    width: 100%;
    
}
.imageContainer {
    display: flex;
    align-items: center;  
}

.infoContainer {
    color: white;
}

.mapContainer {
    display: flex;
    align-items:flex-end;
    justify-items: end;
    bottom: 0cm;
    right: 0cm;
 
    margin-left: 10px;
    height: $height;
    width: 55%;

   


}