@import '../../publics/ClassTypes.scss';

$height: 150px;

.officeImage {
    width: $height;
    height: 100%;
   object-fit:contain;
   margin-left: 10px;

}

.footerContainer {
    display: flex;
    align-items: center;   

}

.imageContainer {
    left: 0cm;
    height: $height;
}

.infoContainer {
    display: flex;
    margin-left: 10px;
    flex-wrap:wrap;

}

.mapContainer {
    position: fixed;
    right: 0cm;

 
    background-color: red;

}