@import '../../publics/ClassTypes.scss';

$widthNumber: 25px;

.headerCont {

    @extend .center;
    align-items: center;
    padding-inline: 10px;
    height: 120px;
}


.logoCont {
    @extend .start;
    height: 50px;
    width: 20%;
}

.searchContainer1 {
    @extend .start;
    align-items: center;
    width: 50%;
    height: 100px;
}

.addNewContainer1 {
    @extend .end;
    width: 40%;
}

.listBodyContainer {
    @extend .center;
    margin-top: 30px;
}


.paginationContainer {
    @extend .center;
    align-items: center;
    margin-top: 20px;
}


.pageNumberContainer {
    @extend .center;
    align-items: center;
    height: $widthNumber;
    width: $widthNumber;
    border: 1px;
    border-color: darkgrey;
    border-style: solid;
    margin: 5px;
    border-radius: 5px;
}

.orderByContainer {
    @extend .end;
    position: fixed;
    width: 90%;
}

.nextPrev {
    @extend .center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-inline: 20px;
    height: $widthNumber;

}

.orderListContainer {
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    border-width: 1px;
    border-color: darkgray;
    border-style: solid;
    border-radius: 10px;

    :hover {
        background-color: darkgray;
        border-radius: 10px;
        @extend .center;
        color: white;
    }
}

.orderByItemContainer {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    margin-bottom: 3px;
    
}